@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"); */
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Tajawal", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html {
  font-size: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input,
textarea {
  outline: none;
  resize: none;
}
img {
  width: 100%;
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* -------------------------- /*
/* grid */
body {
  background-color: black;
}
.land-bg {
  background-image: url(../src/media/landBg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #0e0e0ec9;
  background-blend-mode: darken;
}
.reg-bg {
  background-image: url(../src/media/defaultCoverImg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #151515c9;
  background-blend-mode: darken;
}
.login-bg {
  background-image: url(../src/media/wallpaper-home.png);
  background-size: cover;
  background-position: right;
  background-color: #151515c9;
  background-blend-mode: darken;
}

.post {
  background-image: url(media/mainfeed.jpg);
}

.contact-bg {
  background-image: url(../src/media/contact-bg.png);
  background-size: cover;
  background-position: center;
  background-color: #050505c9;
  background-blend-mode: darken;
}
.letter-space {
  letter-spacing: 1px;
}
.line-height {
  line-height: 55px;
}

.main-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(1em, 1fr) minmax(250px, 500px) minmax(250px, 500px)
    minmax(1em, 1fr) minmax(1em, 1fr);
  column-gap: 2em;
}
.home {
  overflow-x: hidden;
}

.home-title {
  grid-column: 3;
}
.img-title {
  grid-column: 4 / span 2;
}
.img-title img {
  max-width: 500px;
}
.footer-test-item {
  grid-column: 3/5;
}

@media (max-width: 650px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 500px) minmax(
        1em,
        1fr
      );
    column-gap: 1em;
  }
  .home-title {
    grid-column: 2;
  }
  .img-title {
    display: none;
  }
  .buttons {
    justify-content: center;
  }
  .footer-test-item {
    grid-column: 2;
  }
}
@media (max-width: 300px) {
  .main-title-span {
    font-size: 1.5rem;
  }
}
.bg-background {
  background-image: url(./media/wallpaper-home.png);
  background-size: cover;
}

.main-text-gradient-color {
  background: linear-gradient(to right, #ea3cd2 0%, #4ac3d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-text-gradient-background {
  background: linear-gradient(to right, #ea3cd2 0%, #4ac3d8 100%);
}

.transparent-color {
  opacity: 0.8;
}
.rooms-flow-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(250px, 500px) minmax(250px, 500px)
    minmax(1em, 1fr);
  column-gap: 2em;
  row-gap: 3em;
}

.rooms-title {
  grid-column: 2 / 4;
}
.rooms-main-section-title {
  grid-column: 2;
}

.rooms-available section {
  grid-column: 2/4;
  display: grid;
  grid-gap: 1.3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.room-type-bg {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(/src/media/series-4.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.room-type-title {
  grid-column: 1/-1;
}
.room-type-note {
  grid-column: 1/-1;
}
.room-type-cont {
  grid-column: 2/4;
  display: grid;
  grid-gap: 1.3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}
.second-title-room-type {
  grid-column: 2/4;
}
.transform-effect:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .rooms-flow-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(
        1em,
        1fr
      );
    column-gap: 2em;
    row-gap: 3em;
  }

  .rooms-title {
    grid-column: 2;
  }
  .rooms-available section {
    grid-column: 2;
    display: grid;
    grid-gap: 1.3em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
  }
  .about-page {
    grid-column: 2;
  }
  .land-page {
    padding-top: 6em;
  }
  .about-page h2,
  .about-page p {
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
  }
  .footer-test-item {
    grid-column: 2;
  }
  .room-type-cont {
    grid-column: 2;
  }
  .room-type-title,
  .room-type-note {
    grid-column: 2/3;
  }
  .second-title-room-type {
    grid-column: 2/3;
    text-align: center;
  }
  .room-type-bg {
    background-position: center;
  }
}
.room-player-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(300px, 700px) minmax(300px, 600px)
    minmax(1em, 1fr);
}

.room-player-video {
  grid-column: 1/3;
}
.room-chat-video-mini {
  grid-column: 3 / -1;
}
.room-chat-video {
  grid-column: 3 / -1;
  margin-right: 2em;
}
.overflow-handle {
  overflow-y: auto;
  flex-grow: 1;
}
.text-overflow {
  text-overflow: ellipsis;
}
@media (max-width: 1200px) {
  .room-chat-video-mini {
    grid-column: 1/-1;
  }
  .inputs-room-mp-play {
    display: none;
  }
  .room-player-video {
    grid-column: 1/-1;
    margin: 0em 2em;
    min-height: 80vh;
  }
}


/* @media (min-width:600px) and (max-width:750px) {
  
} */

/* .room-type-title,.room-type-note {
  grid-column: 2/3;
} */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea3cd2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55e5ff;
  border-radius: 50px;
}
.private-room-child {
  grid-column: 2/4;
}
@media (max-width: 600px) {
  .private-room-child {
    grid-column: 2/3;
  }
}
.send-button-mb {
  padding: 0 2.5em;
}

.inputs-room-play {
  grid-column: 1/3;
  width: 100%;
}

.inputs-room-play-mini {
  display: none;
}
@media (max-width: 725px) {
  .inputs-room-play {
    display: none;
  }
  .send-button-mb {
    width: 16%;
    padding: 0;
  }
  .room-player-grid {
    grid-template-rows: minmax(100px, 200px) auto;
    grid-auto-rows: auto;
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 600px) minmax(
        1em,
        1fr
      );
  }
  .room-player-video {
    grid-row: 2/3;
  }
  .room-chat-video-mini {
    grid-row: 3/4;
  }
  .inputs-room-play-mini {
    display: flex;
    grid-column: 2/3;
    justify-content: space-between;
    max-height: 150px;
    align-self: end;
    width: 100%;
  }
}
.break-word {
  overflow-wrap: break-word;
}
.header-elements li {
  margin: 0 0.5em;
  transition-duration: 300ms;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.header-elements li:hover {
  background: #4dc1d8;
  cursor: pointer;
}
.drop {
  min-width: 300px;
  left: 100%;
  z-index: 2;
  transition-duration: 300ms;
}
.list-icon {
  display: none;
}
@media (max-width: 900px) {
  .drop-show {
    transform: translateX(-100%);
    gap: 20px;
  }
  .big-ul {
    display: none;
  }
  .list-icon {
    display: block;
  }
  .cont-li {
    gap: 20px;
  }
  .close-btn {
    margin-bottom: 2em;
  }
}
.bg-effect {
  -webkit-backdrop-filter: blur(20px); /* Safari 9+ and Chrome */
  backdrop-filter: blur(20px); /* Standard syntax */
}

/* -----Feeds---- */
.main-feed-grid {
  padding-top: 2em;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 900px) minmax(
      250px,
      1fr
    );
  column-gap: 1em;
}
.home-feed-content {
  display: flex;
  flex-direction: column;
}
.overflow-none {
  overflow: hidden;
}
.post-textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 0.5em;
  outline: none;
}

.upload-image {
  display: none;
}
.letter-strech {
  letter-spacing: 1px;
}
.posts-section {
  overflow-y: auto;
}
/* This only changes this particular animation duration */
.animate__animated.animate__zoomIn {
  --animate-duration: 0.6s;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 0.6s;
}
.object-scale {
  object-fit: scale-down;
}
@media (max-width: 1000px) {
  .profile-side {
    display: none;
  }
  .profile-icon,
  .notification-icon {
    display: block;
  }
  .posts-section {
    grid-column: 1/3;
    margin-right: 1em;
  }
  .home-side {
    width: 100%;
  }
}
/* .hidden-profileicon {
  display: none;
} */
@media (max-width: 798px) {
  .friends-side {
    display: none;
  }
  .friends-icon,
  .profile-icon,
  .notification-icon,
  .chat-icon {
    display: block !important;
  }
  .feeds-bar {
    display: flex;
  }

  /* .hidden-profileicon {
    display: block;
  } */
  .posts-section {
    grid-column: 1/-1;
  }
  .main-feed-grid {
    padding-top: 2em;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(200px, 770px) minmax(
        1em,
        1fr
      );
  }
  .custom-file-upload {
    font-size: 1.12rem;
    margin-right: 1em;
  }
  .create-post,
  .post-textarea {
    font-size: 1.12rem;
  }
}
/* //////////chat////////// */
.chat-bg {
  background: url(/src/media/chat.png);
  background-size: cover;
  background-position: center;
  background-color: #000000c9;
  background-blend-mode: darken;
}

@media (max-width: 850px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(
        1em,
        1fr
      );
  }
  .second-home-title,
  .home-title {
    grid-column: 2;
  }
  .gap-grid {
    row-gap: 5em;
    column-gap: 2em;
  }
}

/* ////////// feedbar /////////// */
.feeds-bar {
  grid-column: 1/3;
}

/* /////////// notifications //////// */
.notifications-container {
  margin: 0;
}
@media (max-width: 500px) {
  .feeds-bar {
    margin: 0 auto;
  }
}
.animate__animated.animate__bounceIn {
  --animate-duration: 1s;
}
.animate__animated.animate__zoomInUp {
  --animate-duration: 1s;
}
/* ///////////////// profile ///////////////// */
.profile-grid {
  display: grid;
  grid-template-rows: auto 135px;
  grid-template-columns:
    minmax(1em, 1fr) minmax(150px, 630px) minmax(150px, 500px)
    minmax(1em, 1fr);
}
.profile-cover {
  grid-column: 2/4;
}
.profile-info-user {
  padding: 0 2em;
  justify-self: end;
  grid-column: 3;
}
.edit-user-info {
  grid-column: 2;
}
.profile-bar {
  grid-column: 2/4;
}

@media (max-width: 900px) {
  .profile-grid {
    display: grid;
    grid-template-rows: auto 135px;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 800px) minmax(
        1em,
        1fr
      );
  }
  .profile-cover {
    grid-column: 2;
  }
  .profile-info-user {
    padding: 0 2em;
    justify-self: center;
    flex-direction: column;
    grid-column: 2;
    order: 0;
    text-align: center;
    top: -160px;
  }
  .profile-info-user img {
    height: 180px;
  }
  .profile-name {
    margin-top: 1em;
  }
  .edit-user-info {
    grid-column: 2;
    justify-self: center;
    order: 1;
    padding-bottom: 1em;
  }
  .edit-user-info button {
    margin-top: 0.5em;
  }
  .bar-item {
    padding: 0.5em 0.8em;
    margin: 0 auto;
  }
  .profile-bar {
    grid-column: 2;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .profile-bar {
    grid-column: 2;
    width: 100%;
    margin: 0 auto;
  }
  .custom-file-upload {
    text-align: center;
  }
}
/* ////////////// profileData //////// */
.profile-data-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(150px, 630px) minmax(150px, 500px)
    minmax(1em, 1fr);
}
.comments-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(150px, 630px) minmax(150px, 500px)
    minmax(1em, 1fr);
}

.comments {
  grid-column: 3;
  margin: 0;
}

@media (max-width: 900px) {
  .profile-data-grid,
  .comments-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 900px) minmax(
        1em,
        1fr
      );
  }
  .comments-render {
    max-height: 300px;
  }
  .comments {
    padding: 2em 0;
    grid-column: 2;
  }
  .feeds {
    grid-column: 2;
    order: 1;
  }
  .about {
    grid-column: 2;
    order: 0;
    margin: 1.5em 0;
  }
}
.reacts {
  width: 40px;
  padding: 5px 5px;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 9999px;
  background-color: black;
}
.reacts-hover {
  width: 340px;
  padding: 10px 5px;
}

.reacts img {
  max-width: 35px;
  transition: transform 0.2s;
  margin: 0 auto;
}
@media (max-width: 404px) {
  .reacts-hover {
    width: 240px;
    padding: 10px 5px;
  }
  .reacts img {
    max-width: 30px;
    transition: transform 0.2s;
    margin: 0 auto;
  }
}
.first-child-mr-handle {
  margin-right: 0.5em !important;
}

.reacts img:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.grid-rows-max-content {
  grid-template-rows: max-content;
}

@media (max-width: 440px) {
  .comments-grid {
    column-gap: 0;
  }
  .comment {
    padding: 0.5em;
  }
  .comment img {
    width: 40px;
    height: 40px;
  }
}

.credi-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(280px, 330px) minmax(280px, 330px)
    minmax(1em, 1fr);
  column-gap: 1em;
  row-gap: 2em;
}

/* /// Register //// */
.reg-first-name {
  grid-column: 2;
}
.reg-input {
  background: transparent;
  border: 1px solid white;
  border-radius: 9999px;
  padding: 1em;
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.3s; /* don't forget to set a duration! */
}
.reg-last-name {
  grid-column: 3;
}
.reg-username,
.reg-password {
  grid-column: 2/4;
}

.reg-button {
  grid-column: 2;
}
.login-button {
  grid-column: 3;
}

@media (max-width: 640px) {
  .credi-grid {
    display: grid;
    grid-template-columns:
      minmax(1em, 1fr) minmax(120px, 300px) minmax(120px, 300px)
      minmax(1em, 1fr);
    column-gap: 0.3em;
    row-gap: 2em;
  }
  .back {
    margin-left: 1em;
  }
  .reg-first-name,
  .reg-last-name,
  .reg-username,
  .reg-password {
    grid-column: 2 / 4;
  }

  .reg-button {
    grid-column: 2;
  }

  .login-button {
    grid-column: 3;
  }
}

.center-v {
  top: 50%;
  transform: translateY(-50%);
}

.contact-grid {
  display: grid;
  grid-template-columns:
    minmax(1em, 1fr) minmax(250px, 500px) minmax(250px, 500px)
    minmax(1em, 1fr);
  column-gap: 2em;
}
.contact-cont {
  grid-column: 3/4;
}
.contact-title {
  grid-column: 2;
}

@media (max-width: 909px) {
  .contact-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 850px) minmax(
        1em,
        1fr
      );
    column-gap: 2em;
    row-gap: 2em;
  }
  .contact-cont {
    grid-column: 2;
  }
  .contact-title {
    grid-column: 2;
  }
}
@media (max-width: 500px) {
  .contact-title {
    font-size: 2em;
    text-align: center;
  }
  .contact-cont input,
  .contact-cont textarea {
    font-size: 1.3em;
  }
}
.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.z-max {
  z-index: 99999999 !important;
}
.z-max-2 { 
  z-index: 999999999 !important;
}
.z-m {
  z-index: 2!important;
}
.z-mm {
  z-index: 3 !important;
}
.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}
.full-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.w-full-force {
  width: 100% !important;
}
input:checked {
  background-color: #22c55e; /* bg-green-500 */
}

input:checked ~ span:last-child {
  --tw-translate-x: 1.75rem; /* translate-x-7 */
}
